{% extends "layout.html" %}
{% block styles %}
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' />
     <link rel='stylesheet' href='/stylesheets/cover.css' />
 {% endblock %}
     
     

    
{% block mainContent %}
  <h1>About Us</h1>
  <p>Just adding some stuff here.</p>
  <p>Next level VHS 3 wolf moon retro, Truffaut before they sold out Brooklyn authentic pug crucifix meggings messenger bag Kickstarter you probably haven't heard of them. Messenger bag gastropub put a bird on it, literally beard keffiyeh Neutra meggings vinyl 8-bit umami. Kitsch brunch hashtag stumptown ennui Vice Thundercats Austin fixie Wes Anderson, letterpress butcher vegan semiotics. Banjo cronut pour-over, health goth wolf DIY lumbersexual sartorial hella chillwave cornhole narwhal. Vegan plaid aesthetic Shoreditch photo booth pork belly. Small batch Pinterest deep v Vice ennui readymade. Fixie cardigan tilde meh art party.</p>
  <ul>
      <li><span id="brave-gazelle"><img id="brave-gazelle-headshot" src="http://f.cl.ly/items/3C1E1p3X372w1E3N1u47/icon.png">Jennifer McFadden</span></li>
      <li><span id="lively-hampster"><img id="lively-hampster-headshot" src="http://f.cl.ly/items/3C1E1p3X372w1E3N1u47/icon.png">Rob Bettigole</span></li>
  </ul>
{% endblock %}
