body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}

ul
{
list-style-type: none;
}

li {
  display: inline-block;
}

footer {
  height: 100px;
  background-color: transparent;
  margin: auto;
}



#home-page-footer {
  background-color: transparent;
}

#events-list {
  margin-top: 100px;
}