body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}

ul
{
list-style-type: none;
}

li {
  display: inline-block;
}

footer {
  height: 100px;
  background-color: transparent;
  margin: auto;
}



#home-page-footer {
  background-color: transparent;
}

#events-list {
  margin-top: 100px;
}

.event {
  display: block;
}

#create-event {
  margin-top: 100px;
  display: block;
  font-size: 18px;
  padding: 10px;
  text-align: left;
  font-weight: 300;
  
}



#form-styling {
  margin: auto;
  height: 400px;
  width: 500px;
  
  
}